<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections></configSections>
  <connectionStrings>
    
    <add Chemin="U_personne" value="My Documents\\tnt\\upload\\personne.csv" />
    <add Chemin="U_enlevement" value="My Documents\\tnt\\upload\\enlevement.csv" />
    
    <add Chemin="U_pers_type" value="My Documents\\tnt\\upload\\pers_type.csv" />
    <add Chemin="U_utilisateur" value="My Documents\\tnt\\upload\\utilisateur.csv" />
    <add Chemin="U_reception" value="My Documents\\tnt\\upload\\reception.csv" />

    <add Chemin="U_serv_personne" value="personne.csv" />
    <add Chemin="U_serv_enlevement" value="enlevement.tmp" />
    <add Chemin="U_serv_enlevement_def" value="enlevement.csv" />
    <add Chemin="U_serv_pers_type" value="pers_type.csv" />
    <add Chemin="U_serv_utilisateur" value="utilisateur.csv" />
    <add Chemin="U_serv_reception" value="reception.tmp" />
    <add Chemin="U_serv_reception_def" value="reception.csv" />
    

    <add Chemin="repertoire" value="/www/tnt web/bdd/upload/bdd2/" />
    <add Chemin="repertoire_signature" value="/www/tnt web/bdd/upload/bdd2/signature/" />    
    
    <add Chemin="D_serv_personne"     value="/www/tnt web/bdd/download/personne.csv" />
    <add Chemin="D_serv_enlevement"   value="/www/tnt web/bdd/download/enlevement.csv" />
    <add Chemin="D_serv_pers_type"    value="/www/tnt web/bdd/download/pers_type.csv" />
    <add Chemin="D_serv_utilisateur"  value="/www/tnt web/bdd/download/utilisateur.csv" />
    <add Chemin="D_serv_count"        value="/www/tnt web/bdd/download/count.csv" />


    <add Chemin="D_personne"    value="My Documents\\tnt\\download\\personne.csv" />
    <add Chemin="D_enlevement"  value="My Documents\\tnt\\download\\enlevement.csv" />
    <add Chemin="D_pers_type"   value="My Documents\\tnt\\download\\pers_type.csv" />
    <add Chemin="D_utilisateur" value="My Documents\\tnt\\download\\utilisateur.csv" />
    <add Chemin="D_count"       value="My Documents\\tnt\\download\\count.csv" />
    <!--j'ai ajouter ça--> 
    
    <add Chemin="Log"           value="My Documents\\tnt\\Log.txt" />


    <add Chemin="server" value="eurequat-algerie.com" />
    <add Chemin="user" value="eurequat" />
    <add Chemin="pw" value="Serveur#2006" />


  </connectionStrings>
  <appSettings>
    <add Chemin="DebutJournee" value="1"/>
  </appSettings>
</configuration>
